In [0]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

/databricks/spark/python/pyspark/sql/context.py:117: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [0]:
users_rdd = sc.parallelize([[1, 'Alice', 10], [2, 'Bob', 8]], 4)

In [0]:
users_rdd

Out[4]: ParallelCollectionRDD[28] at readRDDFromInputStream at PythonRDD.scala:413

In [0]:
users_rdd.getNumPartitions()

Out[4]: 4

In [0]:
users_rdd.collect()

Out[3]: [[1, 'Alice', 10], [2, 'Bob', 8]]

In [0]:
users = sqlContext.createDataFrame(
  users_rdd,
  ['id', 'name', 'num_posts']) 
users.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- num_posts: long (nullable = true)

In [0]:
users.head(5)

Out[7]: [Row(id=1, name='Alice', num_posts=10), Row(id=2, name='Bob', num_posts=8)]

In [0]:
users.take(3)

Out[8]: [Row(id=1, name='Alice', num_posts=10), Row(id=2, name='Bob', num_posts=8)]

In [0]:
users.toPandas().head()

,id,name,num_posts
0,1,Alice,10
1,2,Bob,8

In [0]:
!ls /databricks-datasets/samples

ls: cannot access '/databricks-datasets/samples': No such file or directory

In [0]:
from pyspark.sql import SQLContext 
sqlContext = SQLContext(sc)
pop = sqlContext.read.csv("/databricks-datasets/samples/population-vs-price/data_geo.csv", header="true", inferSchema="true")
pop.printSchema()

root
 |-- 2014 rank: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- 2014 Population estimate: integer (nullable = true)
 |-- 2015 median sales price: double (nullable = true)

In [0]:
pop.count()

Out[3]: 294

In [0]:
!ls "/databricks"

BUILD
BUILDINFO
chauffeur
chauffeur-jars
common
conda
conf_reader_version.bzl
data
databricks-hive
driver
ganglia-api
ganglia-api-cbe773d051168e05118774708ff7a0ce881617f4.tar.gz
glue
gmond_python_modules
hive
init_scripts
jars
keys
licenses
miniconda
monit-5.30.0
python
python-bootstrap
python3
python_shell
simbasparkodbc_1.0.4-2_amd64.deb
spark

In [0]:
pop

Out[22]: DataFrame[2014 rank: int, City: string, State: string, State Code: string, 2014 Population estimate: int, 2015 median sales price: double]

In [0]:
pop.createOrReplaceTempView( 'pops')
   # Query the table
sqlContext.sql(
'SELECT * FROM pops limit 10' ).collect()

Out[4]: [Row(2014 rank=101, City='Birmingham', State='Alabama', State Code='AL', 2014 Population estimate=212247, 2015 median sales price=162.9),
 Row(2014 rank=125, City='Huntsville', State='Alabama', State Code='AL', 2014 Population estimate=188226, 2015 median sales price=157.7),
 Row(2014 rank=122, City='Mobile', State='Alabama', State Code='AL', 2014 Population estimate=194675, 2015 median sales price=122.5),
 Row(2014 rank=114, City='Montgomery', State='Alabama', State Code='AL', 2014 Population estimate=200481, 2015 median sales price=129.0),
 Row(2014 rank=64, City='Anchorage[19]', State='Alaska', State Code='AK', 2014 Population estimate=301010, 2015 median sales price=None),
 Row(2014 rank=78, City='Chandler', State='Arizona', State Code='AZ', 2014 Population estimate=254276, 2015 median sales price=None),
 Row(2014 rank=86, City='Gilbert[20]', State='Arizona', State Code='AZ', 2014 Population estimate=239277, 2015 median sales price=None),
 Row(2014 rank=88, City='Glendale', State='Arizona', State Code='AZ', 2014 Population estimate=237517, 2015 median sales price=None),
 Row(2014 rank=38, City='Mesa', State='Arizona', State Code='AZ', 2014 Population estimate=464704, 2015 median sales price=None),
 Row(2014 rank=148, City='Peoria', State='Arizona', State Code='AZ', 2014 Population estimate=166934, 2015 median sales price=None)]

In [0]:
sqlContext.sql(
'SELECT max(`2014 Population estimate`) FROM pops' ).collect()

Out[5]: [Row(max(2014 Population estimate)=8491079)]

In [0]:
sqlContext.sql(
'SELECT * FROM pops WHERE `2014 Population estimate` is not null \
ORDER BY `2014 Population estimate` ASC ' ).collect()

Out[9]: [Row(2014 rank=294, City='Las Cruces', State='New Mexico', State Code='NM', 2014 Population estimate=101408, 2015 median sales price=None),
 Row(2014 rank=293, City='Tyler', State='Texas', State Code='TX', 2014 Population estimate=101421, 2015 median sales price=None),
 Row(2014 rank=292, City='Sandy Springs', State='Georgia', State Code='GA', 2014 Population estimate=101908, 2015 median sales price=None),
 Row(2014 rank=291, City='Clovis', State='California', State Code='CA', 2014 Population estimate=102189, 2015 median sales price=None),
 Row(2014 rank=290, City='Lakeland', State='Florida', State Code='FL', 2014 Population estimate=102346, 2015 median sales price=136.0),
 Row(2014 rank=289, City='Davenport', State='Iowa', State Code='IA', 2014 Population estimate=102448, 2015 median sales price=109.4),
 Row(2014 rank=288, City='Rialto', State='California', State Code='CA', 2014 Population estimate=102741, 2015 median sales price=None),
 Row(2014 rank=287, City='Lewisville', State='Texas', State Code='TX', 2014 Population estimate=102889, 2015 median sales price=None),
 Row(2014 rank=286, City='San Mateo', State='California', State Code='CA', 2014 Population estimate=102893, 2015 median sales price=None),
 Row(2014 rank=285, City='El Cajon', State='California', State Code='CA', 2014 Population estimate=103091, 2015 median sales price=None),
 Row(2014 rank=284, City='Santa Maria', State='California', State Code='CA', 2014 Population estimate=103410, 2015 median sales price=None),
 Row(2014 rank=283, City='Pearland', State='Texas', State Code='TX', 2014 Population estimate=103441, 2015 median sales price=None),
 Row(2014 rank=282, City='College Station', State='Texas', State Code='TX', 2014 Population estimate=103483, 2015 median sales price=None),
 Row(2014 rank=281, City='West Palm Beach', State='Florida', State Code='FL', 2014 Population estimate=104031, 2015 median sales price=None),
 Row(2014 rank=280, City='Broken Arrow', State='Oklahoma', State Code='OK', 2014 Population estimate=104726, 2015 median sales price=None),
 Row(2014 rank=279, City='Green Bay', State='Wisconsin', State Code='WI', 2014 Population estimate=104891, 2015 median sales price=None),
 Row(2014 rank=278, City='Boulder', State='Colorado', State Code='CO', 2014 Population estimate=105112, 2015 median sales price=442.2),
 Row(2014 rank=277, City='Wichita Falls', State='Texas', State Code='TX', 2014 Population estimate=105114, 2015 median sales price=None),
 Row(2014 rank=276, City='Burbank', State='California', State Code='CA', 2014 Population estimate=105368, 2015 median sales price=None),
 Row(2014 rank=275, City='Palm Bay', State='Florida', State Code='FL', 2014 Population estimate=105838, 2015 median sales price=145.0),
 Row(2014 rank=274, City='Daly City', State='California', State Code='CA', 2014 Population estimate=106094, 2015 median sales price=None),
 Row(2014 rank=273, City='Pompano Beach', State='Florida', State Code='FL', 2014 Population estimate=106105, 2015 median sales price=None),
 Row(2014 rank=272, City='Everett', State='Washington', State Code='WA', 2014 Population estimate=106736, 2015 median sales price=None),
 Row(2014 rank=271, City='North Charleston', State='South Carolina', State Code='SC', 2014 Population estimate=106749, 2015 median sales price=None),
 Row(2014 rank=270, City='Norwalk', State='California', State Code='CA', 2014 Population estimate=107096, 2015 median sales price=None),
 Row(2014 rank=269, City='Centennial', State='Colorado', State Code='CO', 2014 Population estimate=107201, 2015 median sales price=None),
 Row(2014 rank=268, City='Murrieta', State='California', State Code='CA', 2014 Population estimate=108368, 2015 median sales price=None),
 Row(2014 rank=267, City='Pueblo', State='Colorado', State Code='CO', 2014 Population estimate=108423, 2015 median sales price=None),
 Row(2014 rank=266, City='West Covina', State='California', State Code='CA', 2014 Population estimate=108455, 2015 median sales price=None),
 Row(2014 rank=265, City='Richmond', State='California', State Code='CA', 2014 Population estimate=108565, 2015 median sales price=None),
 Row(2014 rank=264, City='Richardson', State='Texas', State Code='TX', 2014 Population estimate=108617, 2015 median sales price=None),
 Row(2014 rank=263, City='High Point', State='North Carolina', State Code='NC', 2014 Population estimate=108629, 2015 median sales price=None),
 Row(2014 rank=262, City='Billings', State='Montana', State Code='MT', 2014 Population estimate=108869, 2015 median sales price=None),
 Row(2014 rank=261, City='Antioch', State='California', State Code='CA', 2014 Population estimate=108930, 2015 median sales price=None),
 Row(2014 rank=260, City='Waterbury', State='Connecticut', State Code='CT', 2014 Population estimate=109307, 2015 median sales price=None),
 Row(2014 rank=259, City='Temecula', State='California', State Code='CA', 2014 Population estimate=109428, 2015 median sales price=None),
 Row(2014 rank=258, City='Ventura[29]', State='California', State Code='CA', 2014 Population estimate=109484, 2015 median sales price=None),
 Row(2014 rank=257, City='Cambridge', State='Massachusetts', State Code='MA', 2014 Population estimate=109694, 2015 median sales price=None),
 Row(2014 rank=256, City='Gresham', State='Oregon', State Code='OR', 2014 Population estimate=109892, 2015 median sales price=None),
 Row(2014 rank=255, City='Lowell', State='Massachusetts', State Code='MA', 2014 Population estimate=109945, 2015 median sales price=None),
 Row(2014 rank=254, City='Manchester', State='New Hampshire', State Code='NH', 2014 Population estimate=110448, 2015 median sales price=237.4),
 Row(2014 rank=253, City='Clearwater', State='Florida', State Code='FL', 2014 Population estimate=110703, 2015 median sales price=None),
 Row(2014 rank=252, City='West Jordan', State='Utah', State Code='UT', 2014 Population estimate=110920, 2015 median sales price=None),
 Row(2014 rank=251, City='Elgin', State='Illinois', State Code='IL', 2014 Population estimate=111117, 2015 median sales price=None),
 Row(2014 rank=250, City='Fairfield', State='California', State Code='CA', 2014 Population estimate=111125, 2015 median sales price=None),
 Row(2014 rank=249, City='Rochester', State='Minnesota', State Code='MN', 2014 Population estimate=111402, 2015 median sales price=None),
 Row(2014 rank=248, City='Inglewood', State='California', State Code='CA', 2014 Population estimate=111905, 2015 median sales price=None),
 Row(2014 rank=247, City='Westminster', State='Colorado', State Code='CO', 2014 Population estimate=112090, 2015 median sales price=None),
 Row(2014 rank=246, City='Miami Gardens', State='Florida', State Code='FL', 2014 Population estimate=112265, 2015 median sales price=None),
 Row(2014 rank=245, City='Carlsbad', State='California', State Code='CA', 2014 Population estimate=112299, 2015 median sales price=None),
 Row(2014 rank=244, City='Round Rock', State='Texas', State Code='TX', 2014 Population estimate=112744, 2015 median sales price=None),
 Row(2014 rank=243, City='Costa Mesa', State='California', State Code='CA', 2014 Population estimate=112784, 2015 median sales price=None),
 Row(2014 rank=242, City='Arvada', State='Colorado', State Code='CO', 2014 Population estimate=113574, 2015 median sales price=None),
 Row(2014 rank=241, City='Wilmington', State='North Carolina', State Code='NC', 2014 Population estimate=113657, 2015 median sales price=197.5),
 Row(2014 rank=240, City='Downey', State='California', State Code='CA', 2014 Population estimate=114172, 2015 median sales price=None),
 Row(2014 rank=239, City='Odessa', State='Texas', State Code='TX', 2014 Population estimate=114597, 2015 median sales price=None),
 Row(2014 rank=238, City='Lansing', State='Michigan', State Code='MI', 2014 Population estimate=114620, 2015 median sales price=114.6),
 Row(2014 rank=237, City='Provo', State='Utah', State Code='UT', 2014 Population estimate=114801, 2015 median sales price=None),
 Row(2014 rank=236, City='Peoria', State='Illinois', State Code='IL', 2014 Population estimate=115828, 2015 median sales price=105.2),
 Row(2014 rank=235, City='Fargo', State='North Dakota', State Code='ND', 2014 Population estimate=115863, 2015 median sales price=180.0),
 Row(2014 rank=234, City='El Monte', State='California', State Code='CA', 2014 Population estimate=116631, 2015 median sales price=None),
 Row(2014 rank=233, City='Springfield', State='Illinois', State Code='IL', 2014 Population estimate=116809, 2015 median sales price=115.2),
 Row(2014 rank=232, City='Columbia', State='Missouri', State Code='MO', 2014 Population estimate=116906, 2015 median sales price=None),
 Row(2014 rank=231, City='Independence', State='Missouri', State Code='MO', 2014 Population estimate=117494, 2015 median sales price=None),
 Row(2014 rank=230, City='Beaumont', State='Texas', State Code='TX', 2014 Population estimate=117585, 2015 median sales price=133.3),
 Row(2014 rank=229, City='Ann Arbor', State='Michigan', State Code='MI', 2014 Population estimate=117770, 2015 median sales price=None),
 Row(2014 rank=228, City='Norman', State='Oklahoma', State Code='OK', 2014 Population estimate=118040, 2015 median sales price=None),
 Row(2014 rank=227, City='Berkeley', State='California', State Code='CA', 2014 Population estimate=118853, 2015 median sales price=None),
 Row(2014 rank=226, City='Allentown', State='Pennsylvania', State Code='PA', 2014 Population estimate=119104, 2015 median sales price=162.7),
 Row(2014 rank=225, City='Athens[28]', State='Georgia', State Code='GA', 2014 Population estimate=119648, 2015 median sales price=None),
 Row(2014 rank=224, City='Vallejo', State='California', State Code='CA', 2014 Population estimate=120228, 2015 median sales price=None),
 Row(2014 rank=223, City='Evansville', State='Indiana', State Code='IN', 2014 Population estimate=120346, 2015 median sales price=None),
 Row(2014 rank=222, City='Murfreesboro', State='Tennessee', State Code='TN', 2014 Population estimate=120954, 2015 median sales price=None),
 Row(2014 rank=221, City='Abilene', State='Texas', State Code='TX', 2014 Population estimate=120958, 2015 median sales price=145.7),
 Row(2014 rank=220, City='Victorville', State='California', State Code='CA', 2014 Population estimate=121901, 2015 median sales price=None),
 Row(2014 rank=219, City='Santa Clara', State='California', State Code='CA', 2014 Population estimate=122192, 2015 median sales price=None),
 Row(2014 rank=218, City='Hartford', State='Connecticut', State Code='CT', 2014 Population estimate=124705, 2015 median sales price=202.6),
 Row(2014 rank=217, City='Kent', State='Washington', State Code='WA', 2014 Population estimate=125560, 2015 median sales price=None),
 Row(2014 rank=216, City='Lafayette[27]', State='Louisiana', State Code='LA', 2014 Population estimate=126066, 2015 median sales price=None),
 Row(2014 rank=215, City='Surprise', State='Arizona', State Code='AZ', 2014 Population estimate=126275, 2015 median sales price=None),
 Row(2014 rank=214, City='Simi Valley', State='California', State Code='CA', 2014 Population estimate=126871, 2015 median sales price=None),
 Row(2014 rank=213, City='Topeka', State='Kansas', State Code='KS', 2014 Population estimate=127215, 2015 median sales price=105.3),
 Row(2014 rank=212, City='Concord', State='California', State Code='CA', 2014 Population estimate=127522, 2015 median sales price=None),
 Row(2014 rank=211, City='Coral Springs', State='Florida', State Code='FL', 2014 Population estimate=127952, 2015 median sales price=None),
 Row(2014 rank=210, City='Midland', State='Texas', State Code='TX', 2014 Population estimate=128037, 2015 median sales price=None),
 Row(2014 rank=209, City='Denton', State='Texas', State Code='TX', 2014 Population estimate=128205, 2015 median sales price=None),
 Row(2014 rank=208, City='Stamford', State='Connecticut', State Code='CT', 2014 Population estimate=128278, 2015 median sales price=None),
 Row(2014 rank=207, City='Carrollton', State='Texas', State Code='TX', 2014 Population estimate=128353, 2015 median sales price=None),
 Row(2014 rank=206, City='Gainesville', State='Florida', State Code='FL', 2014 Population estimate=128460, 2015 median sales price=169.9),
 Row(2014 rank=205, City='Roseville', State='California', State Code='CA', 2014 Population estimate=128615, 2015 median sales price=None),
 Row(2014 rank=204, City='Elizabeth', State='New Jersey', State Code='NJ', 2014 Population estimate=128705, 2015 median sales price=None),
 Row(2014 rank=203, City='Cedar Rapids', State='Iowa', State Code='IA', 2014 Population estimate=129195, 2015 median sales price=156.9),
 Row(2014 rank=202, City='Visalia', State='California', State Code='CA', 2014 Population estimate=129281, 2015 median sales price=None),
 Row(2014 rank=201, City='Thousand Oaks', State='California', State Code='CA', 2014 Population estimate=129342, 2015 median sales price=None),
 Row(2014 rank=200, City='Charleston', State='South Carolina', State Code='SC', 2014 Population estimate=130113, 2015 median sales price=None),
 Row(2014 rank=199, City='Waco', State='Texas', State Code='TX', 2014 Population estimate=130194, 2015 median sales price=None),
 Row(2014 rank=198, City='New Haven', State='Connecticut', State Code='CT', 2014 Population estimate=130282, 2015 median sales price=205.1),
 Row(2014 rank=197, City='Thornton', State='Colorado', State Code='CO', 2014 Population estimate=130307, 2015 median sales price=None),
 Row(2014 rank=196, City='Sterling Heights', State='Michigan', State Code='MI', 2014 Population estimate=131741, 2015 median sales price=None),
 Row(2014 rank=195, City='Columbia', State='South Carolina', State Code='SC', 2014 Population estimate=132067, 2015 median sales price=None),
 Row(2014 rank=194, City='Olathe', State='Kansas', State Code='KS', 2014 Population estimate=133062, 2015 median sales price=None),
 Row(2014 rank=193, City='West Valley City', State='Utah', State Code='UT', 2014 Population estimate=134495, 2015 median sales price=None),
 Row(2014 rank=192, City='Miramar', State='Florida', State Code='FL', 2014 Population estimate=134989, 2015 median sales price=None),
 Row(2014 rank=191, City='Warren', State='Michigan', State Code='MI', 2014 Population estimate=135099, 2015 median sales price=None),
 Row(2014 rank=190, City='Bellevue', State='Washington', State Code='WA', 2014 Population estimate=136426, 2015 median sales price=None),
 Row(2014 rank=189, City='Hampton[15]', State='Virginia', State Code='VA', 2014 Population estimate=136879, 2015 median sales price=None),
 Row(2014 rank=188, City='Killeen', State='Texas', State Code='TX', 2014 Population estimate=138154, 2015 median sales price=None),
 Row(2014 rank=187, City='McAllen', State='Texas', State Code='TX', 2014 Population estimate=138596, 2015 median sales price=None),
 Row(2014 rank=186, City='Fullerton', State='California', State Code='CA', 2014 Population estimate=139677, 2015 median sales price=None),
 Row(2014 rank=185, City='Orange', State='California', State Code='CA', 2014 Population estimate=139812, 2015 median sales price=None),
 Row(2014 rank=184, City='Pasadena', State='California', State Code='CA', 2014 Population estimate=140881, 2015 median sales price=None),
 Row(2014 rank=183, City='Dayton', State='Ohio', State Code='OH', 2014 Population estimate=141003, 2015 median sales price=107.2),
 Row(2014 rank=182, City='Syracuse', State='New York', State Code='NY', 2014 Population estimate=144263, 2015 median sales price=118.3),
 Row(2014 rank=181, City='Savannah', State='Georgia', State Code='GA', 2014 Population estimate=144352, 2015 median sales price=None),
 Row(2014 rank=180, City='Mesquite', State='Texas', State Code='TX', 2014 Population estimate=144416, 2015 median sales price=None),
 Row(2014 rank=179, City='Frisco', State='Texas', State Code='TX', 2014 Population estimate=145035, 2015 median sales price=None),
 Row(2014 rank=178, City='Naperville', State='Illinois', State Code='IL', 2014 Population estimate=146128, 2015 median sales price=None),
 Row(2014 rank=177, City='Paterson', State='New Jersey', State Code='NJ', 2014 Population estimate=146753, 2015 median sales price=None),
 Row(2014 rank=176, City='Clarksville', State='Tennessee', State Code='TN', 2014 Population estimate=146806, 2015 median sales price=None),
 Row(2014 rank=175, City='Bridgeport', State='Connecticut', State Code='CT', 2014 Population estimate=147612, 2015 median sales price=342.7),
 Row(2014 rank=174, City='Joliet', State='Illinois', State Code='IL', 2014 Population estimate=147928, 2015 median sales price=None),
 Row(2014 rank=173, City='Hollywood', State='Florida', State Code='FL', 2014 Population estimate=148047, 2015 median sales price=None),
 Row(2014 rank=172, City='Torrance', State='California', State Code='CA', 2014 Population estimate=148495, 2015 median sales price=None),
 Row(2014 rank=171, City='Rockford', State='Illinois', State Code='IL', 2014 Population estimate=149123, 2015 median sales price=78.6),
 Row(2014 rank=170, City='Kansas City[26]', State='Kansas', State Code='KS', 2014 Population estimate=149636, 2015 median sales price=None),
 Row(2014 rank=169, City='Lakewood', State='Colorado', State Code='CO', 2014 Population estimate=149643, 2015 median sales price=None),
 Row(2014 rank=168, City='Sunnyvale', State='California', State Code='CA', 2014 Population estimate=149980, 2015 median sales price=None),
 Row(2014 rank=167, City='Escondido', State='California', State Code='CA', 2014 Population estimate=150243, 2015 median sales price=None),
 Row(2014 rank=166, City='Alexandria[15]', State='Virginia', State Code='VA', 2014 Population estimate=150575, 2015 median sales price=None),
 Row(2014 rank=165, City='Pomona', State='California', State Code='CA', 2014 Population estimate=153350, 2015 median sales price=None),
 Row(2014 rank=163, City='Pasadena', State='Texas', State Code='TX', 2014 Population estimate=153887, 2015 median sales price=None),
 Row(2014 rank=162, City='Springfield', State='Massachusetts', State Code='MA', 2014 Population estimate=153991, 2015 median sales price=183.9),
 Row(2014 rank=161, City='Hayward', State='California', State Code='CA', 2014 Population estimate=154612, 2015 median sales price=None),
 Row(2014 rank=160, City='Cary[25]', State='North Carolina', State Code='NC', 2014 Population estimate=155227, 2015 median sales price=None),
 Row(2014 rank=159, City='Fort Collins', State='Colorado', State Code='CO', 2014 Population estimate=156480, 2015 median sales price=None),
 Row(2014 rank=158, City='Salinas', State='California', State Code='CA', 2014 Population estimate=156677, 2015 median sales price=None),
 Row(2014 rank=157, City='McKinney', State='Texas', State Code='TX', 2014 Population estimate=156767, 2015 median sales price=None),
 Row(2014 rank=156, City='Palmdale', State='California', State Code='CA', 2014 Population estimate=158279, 2015 median sales price=None),
 Row(2014 rank=155, City='Eugene', State='Oregon', State Code='OR', 2014 Population estimate=160561, 2015 median sales price=211.3),
 Row(2014 rank=154, City='Lancaster', State='California', State Code='CA', 2014 Population estimate=161043, 2015 median sales price=None),
 Row(2014 rank=153, City='Corona', State='California', State Code='CA', 2014 Population estimate=161486, 2015 median sales price=None),
 Row(2014 rank=152, City='Salem', State='Oregon', State Code='OR', 2014 Population estimate=161637, 2015 median sales price=193.9),
 Row(2014 rank=151, City='Elk Grove', State='California', State Code='CA', 2014 Population estimate=163553, 2015 median sales price=None),
 Row(2014 rank=150, City='Pembroke Pines', State='Florida', State Code='FL', 2014 Population estimate=164626, 2015 median sales price=None),
 Row(2014 rank=149, City='Springfield', State='Missouri', State Code='MO', 2014 Population estimate=165378, 2015 median sales price=116.5),

In [0]:
sqlContext.sql(
'SELECT * from pops where `2014 Population estimate`=8491079').collect()

Out[12]: [Row(2014 rank=1, City='New York[6]', State='New York', State Code='NY', 2014 Population estimate=8491079, 2015 median sales price=388.6)]

In [0]:
sqlContext.sql(
'SELECT * from pops where State="Illinois" ORDER BY `2014 Population estimate` DESC').collect()

Out[11]: [Row(2014 rank=3, City='Chicago', State='Illinois', State Code='IL', 2014 Population estimate=2722389, 2015 median sales price=192.5),
 Row(2014 rank=115, City='Aurora', State='Illinois', State Code='IL', 2014 Population estimate=200456, 2015 median sales price=None),
 Row(2014 rank=171, City='Rockford', State='Illinois', State Code='IL', 2014 Population estimate=149123, 2015 median sales price=78.6),
 Row(2014 rank=174, City='Joliet', State='Illinois', State Code='IL', 2014 Population estimate=147928, 2015 median sales price=None),
 Row(2014 rank=178, City='Naperville', State='Illinois', State Code='IL', 2014 Population estimate=146128, 2015 median sales price=None),
 Row(2014 rank=233, City='Springfield', State='Illinois', State Code='IL', 2014 Population estimate=116809, 2015 median sales price=115.2),
 Row(2014 rank=236, City='Peoria', State='Illinois', State Code='IL', 2014 Population estimate=115828, 2015 median sales price=105.2),
 Row(2014 rank=251, City='Elgin', State='Illinois', State Code='IL', 2014 Population estimate=111117, 2015 median sales price=None)]

In [0]:
sqlContext.sql(
'SELECT count(`City`) from pops where State="New York"').collect()

Out[6]: [Row(count(City)=5)]

In [0]:
sqlContext.sql(
'SELECT count(`City`) from pops where `State Code`="NY"').collect()

Out[8]: [Row(count(City)=5)]

In [0]:
sqlContext.sql(
'SELECT distinct State from pops').collect()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-2275786837724359> in <module>
----> 1 sqlContext.sql(
      2 'SELECT distinct State from pops').collect()

/databricks/spark/python/pyspark/sql/context.py in sql(self, sqlQuery)
    452         [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
    453         """
--> 454         return self.sparkSession.sql(sqlQuery)
    455
    456     def table(self, tableName):

/databricks/spark/python/pyspark/sql/session.py in sql(self, sqlQuery)
    775         [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
    776         """
--> 777         return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
    778
    779     def table(self, tableName):

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1302
   1303         answer = self.gateway_client.send_command(command)
-> 1304         return_value = get_return_value(
   1305             answer, self.gateway_client, self.target_id, self.name)
   1306

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    121                 # Hide where the exception came from that shows a non-Pythonic
    122                 # JVM exception message.
--> 123                 raise converted from None
    124             else:
    125                 raise

AnalysisException: Table or view not found: pops; line 1 pos 27;
'Distinct
+- 'Project ['State]
   +- 'UnresolvedRelation [pops], [], false

In [0]:
sqlContext.sql(
"SELECT * from pops where State='Illinois' order by `2014 Population estimate` desc").collect()

Out[10]: [Row(2014 rank=3, City='Chicago', State='Illinois', State Code='IL', 2014 Population estimate=2722389, 2015 median sales price=192.5),
 Row(2014 rank=115, City='Aurora', State='Illinois', State Code='IL', 2014 Population estimate=200456, 2015 median sales price=None),
 Row(2014 rank=171, City='Rockford', State='Illinois', State Code='IL', 2014 Population estimate=149123, 2015 median sales price=78.6),
 Row(2014 rank=174, City='Joliet', State='Illinois', State Code='IL', 2014 Population estimate=147928, 2015 median sales price=None),
 Row(2014 rank=178, City='Naperville', State='Illinois', State Code='IL', 2014 Population estimate=146128, 2015 median sales price=None),
 Row(2014 rank=233, City='Springfield', State='Illinois', State Code='IL', 2014 Population estimate=116809, 2015 median sales price=115.2),
 Row(2014 rank=236, City='Peoria', State='Illinois', State Code='IL', 2014 Population estimate=115828, 2015 median sales price=105.2),
 Row(2014 rank=251, City='Elgin', State='Illinois', State Code='IL', 2014 Population estimate=111117, 2015 median sales price=None)]

In [0]:
pop.filter(pop.State=='New York').collect() #

Out[33]: [Row(2014 rank=76, City='Buffalo', State='New York', State Code='NY', 2014 Population estimate=258703, 2015 median sales price=117.3),
 Row(2014 rank=1, City='New York[6]', State='New York', State Code='NY', 2014 Population estimate=8491079, 2015 median sales price=388.6),
 Row(2014 rank=103, City='Rochester', State='New York', State Code='NY', 2014 Population estimate=209983, 2015 median sales price=118.9),
 Row(2014 rank=182, City='Syracuse', State='New York', State Code='NY', 2014 Population estimate=144263, 2015 median sales price=118.3),
 Row(2014 rank=113, City='Yonkers', State='New York', State Code='NY', 2014 Population estimate=200667, 2015 median sales price=None)]

In [0]:
pop = pop.withColumnRenamed("2014 Population estimate", "Pop_estimate_2014")

In [0]:
pop.head()

Out[48]: Row(2014 rank=101, City='Birmingham', State='Alabama', State Code='AL', Pop_estimate_2014=212247, 2015 median sales price=162.9)

In [0]:
pop.filter(pop.Pop_estimate_2014 >= int(3e6)).collect()
#.select('City', 'State')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-3999123581128803> in <module>
----> 1 pop.filter(pop.Pop_estimate_2014 >= int(3e6)).collect()
      2 #.select('City', 'State')

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   1664         """
   1665         if name not in self.columns:
-> 1666             raise AttributeError(
   1667                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
   1668         jc = self._jdf.apply(name)

AttributeError: 'DataFrame' object has no attribute 'Pop_estimate_2014'

In [0]:
pop.filter(pop["2014 Population estimate"] >= int(3e6)).collect()
#.select('City', 'State')

Out[15]: [Row(2014 rank=2, City='Los Angeles', State='California', State Code='CA', 2014 Population estimate=3928864, 2015 median sales price=434.7),
 Row(2014 rank=1, City='New York[6]', State='New York', State Code='NY', 2014 Population estimate=8491079, 2015 median sales price=388.6)]

In [0]:
pop.select("State").distinct().show(46)

+--------------------+
|               State|
+--------------------+
|                Utah|
|             Hawai'i|
|           Minnesota|
|                Ohio|
|            Arkansas|
|              Oregon|
|               Texas|
|        North Dakota|
|        Pennsylvania|
|         Connecticut|
|            Nebraska|
|              Nevada|
|          Washington|
|            Illinois|
|            Oklahoma|
|District of Columbia|
|              Alaska|
|          New Mexico|
|            Missouri|
|        Rhode Island|
|             Georgia|
|             Montana|
|            Michigan|
|            Virginia|
|      North Carolina|
|              Kansas|
|          New Jersey|
|            Maryland|
|             Alabama|
|             Arizona|
|                Iowa|
|       Massachusetts|
|            Kentucky|
|           Louisiana|
|         Mississippi|
|       New Hampshire|
|           Tennessee|
|             Florida|
|             Indiana|
|               Idaho|
|      South Carolina|
|        South Dakota|
|          California|
|            New York|
|           Wisconsin|
|            Colorado|
+--------------------+

In [0]:
pop.groupby("State").agg({"City": "count", "2014 Population estimate": "sum", "2015 median sales price": "mean"}).toPandas().head(50)

,State,avg(2015 median sales price),count(City),sum(2014 Population estimate)
0,Utah,243.300000,4,551100
1,Hawai'i,699.300000,1,350399
2,Minnesota,209.400000,3,816249
3,Ohio,112.866667,6,2143536
4,Arkansas,131.800000,1,197706
5,Oregon,231.533333,4,1051450
6,Texas,173.477778,36,12355786
7,North Dakota,180.000000,1,115863
8,Pennsylvania,183.800000,3,1984813
9,Connecticut,250.133333,5,640184
10,Nebraska,149.150000,2,719595
11,Nevada,237.300000,4,1358822
12,Washington,266.300000,7,1623569
13,Illinois,122.875000,8,3709778
14,Oklahoma,145.100000,4,1243050
15,District of Columbia,367.800000,1,658893
16,Alaska,NaN,1,301010
17,New Mexico,172.200000,2,658577
18,Missouri,134.750000,5,1187997
19,Rhode Island,233.300000,1,179154
20,Georgia,158.000000,7,1219538
21,Montana,NaN,1,108869
22,Michigan,114.600000,6,1373272
23,Virginia,201.250000,7,1618051
24,North Carolina,176.057143,9,2605063
25,Kansas,115.650000,5,982851
26,New Jersey,350.800000,4,818183
27,Maryland,223.100000,1,622793
28,Alabama,143.025000,4,795629
29,Arizona,192.100000,10,3957341
30,Iowa,133.150000,3,440863
31,Massachusetts,261.800000,5,1212530
32,Kentucky,141.150000,2,923577
33,Louisiana,164.400000,4,937523
34,Mississippi,154.100000,1,171155
35,New Hampshire,237.400000,1,110448
36,Tennessee,152.825000,6,1926694
37,Florida,178.777778,21,4447487
38,Indiana,122.750000,3,1227656
39,Idaho,178.700000,1,216282
40,South Carolina,NaN,3,368929
41,South Dakota,159.500000,1,168586
42,California,547.971429,71,19233075
43,New York,185.775000,5,9304695
44,Wisconsin,210.800000,3,950224
45,Colorado,333.466667,11,2445630

In [0]:
pop.groupby("State").agg({"2015 median sales price": "mean"}).orderBy("avg(2015 median sales price)", ascending=False).collect()

Out[34]: [Row(State="Hawai'i", avg(2015 median sales price)=699.3),
 Row(State='California', avg(2015 median sales price)=547.9714285714286),
 Row(State='District of Columbia', avg(2015 median sales price)=367.8),
 Row(State='New Jersey', avg(2015 median sales price)=350.8),
 Row(State='Colorado', avg(2015 median sales price)=333.46666666666664),
 Row(State='Washington', avg(2015 median sales price)=266.29999999999995),
 Row(State='Massachusetts', avg(2015 median sales price)=261.8),
 Row(State='Connecticut', avg(2015 median sales price)=250.13333333333333),
 Row(State='Utah', avg(2015 median sales price)=243.3),
 Row(State='New Hampshire', avg(2015 median sales price)=237.4),
 Row(State='Nevada', avg(2015 median sales price)=237.3),
 Row(State='Rhode Island', avg(2015 median sales price)=233.3),
 Row(State='Oregon', avg(2015 median sales price)=231.53333333333333),
 Row(State='Maryland', avg(2015 median sales price)=223.1),
 Row(State='Wisconsin', avg(2015 median sales price)=210.8),
 Row(State='Minnesota', avg(2015 median sales price)=209.4),
 Row(State='Virginia', avg(2015 median sales price)=201.25),
 Row(State='Arizona', avg(2015 median sales price)=192.1),
 Row(State='New York', avg(2015 median sales price)=185.775),
 Row(State='Pennsylvania', avg(2015 median sales price)=183.8),
 Row(State='North Dakota', avg(2015 median sales price)=180.0),
 Row(State='Florida', avg(2015 median sales price)=178.77777777777777),
 Row(State='Idaho', avg(2015 median sales price)=178.7),
 Row(State='North Carolina', avg(2015 median sales price)=176.05714285714288),
 Row(State='Texas', avg(2015 median sales price)=173.4777777777778),
 Row(State='New Mexico', avg(2015 median sales price)=172.2),
 Row(State='Louisiana', avg(2015 median sales price)=164.39999999999998),
 Row(State='South Dakota', avg(2015 median sales price)=159.5),
 Row(State='Georgia', avg(2015 median sales price)=158.0),
 Row(State='Mississippi', avg(2015 median sales price)=154.1),
 Row(State='Tennessee', avg(2015 median sales price)=152.825),
 Row(State='Nebraska', avg(2015 median sales price)=149.14999999999998),
 Row(State='Oklahoma', avg(2015 median sales price)=145.1),
 Row(State='Alabama', avg(2015 median sales price)=143.025),
 Row(State='Kentucky', avg(2015 median sales price)=141.14999999999998),
 Row(State='Missouri', avg(2015 median sales price)=134.75),
 Row(State='Iowa', avg(2015 median sales price)=133.15),
 Row(State='Arkansas', avg(2015 median sales price)=131.8),
 Row(State='Illinois', avg(2015 median sales price)=122.87499999999999),
 Row(State='Indiana', avg(2015 median sales price)=122.75),
 Row(State='Kansas', avg(2015 median sales price)=115.65),
 Row(State='Michigan', avg(2015 median sales price)=114.6),
 Row(State='Ohio', avg(2015 median sales price)=112.86666666666667),
 Row(State='Alaska', avg(2015 median sales price)=None),
 Row(State='Montana', avg(2015 median sales price)=None),
 Row(State='South Carolina', avg(2015 median sales price)=None)]

In [0]:
pop.filter(pop["State"]=="New York").collect()

Out[8]: [Row(2014 rank=76, City='Buffalo', State='New York', State Code='NY', 2014 Population estimate=258703, 2015 median sales price=117.3),
 Row(2014 rank=1, City='New York[6]', State='New York', State Code='NY', 2014 Population estimate=8491079, 2015 median sales price=388.6),
 Row(2014 rank=103, City='Rochester', State='New York', State Code='NY', 2014 Population estimate=209983, 2015 median sales price=118.9),
 Row(2014 rank=182, City='Syracuse', State='New York', State Code='NY', 2014 Population estimate=144263, 2015 median sales price=118.3),
 Row(2014 rank=113, City='Yonkers', State='New York', State Code='NY', 2014 Population estimate=200667, 2015 median sales price=None)]

In [0]:
pop.filter(pop["State"]=="New York").orderBy("2015 median sales price", ascending=False).collect()

Out[9]: [Row(2014 rank=1, City='New York[6]', State='New York', State Code='NY', 2014 Population estimate=8491079, 2015 median sales price=388.6),
 Row(2014 rank=103, City='Rochester', State='New York', State Code='NY', 2014 Population estimate=209983, 2015 median sales price=118.9),
 Row(2014 rank=182, City='Syracuse', State='New York', State Code='NY', 2014 Population estimate=144263, 2015 median sales price=118.3),
 Row(2014 rank=76, City='Buffalo', State='New York', State Code='NY', 2014 Population estimate=258703, 2015 median sales price=117.3),
 Row(2014 rank=113, City='Yonkers', State='New York', State Code='NY', 2014 Population estimate=200667, 2015 median sales price=None)]

In [0]:
sqlContext.sql(
"SELECT `State`, avg(`2015 median sales price`) avg_price from pops group by `State` order by avg_price desc").collect()

Out[38]: [Row(State="Hawai'i", avg_price=699.3),
 Row(State='California', avg_price=547.9714285714286),
 Row(State='District of Columbia', avg_price=367.8),
 Row(State='New Jersey', avg_price=350.8),
 Row(State='Colorado', avg_price=333.46666666666664),
 Row(State='Washington', avg_price=266.29999999999995),
 Row(State='Massachusetts', avg_price=261.8),
 Row(State='Connecticut', avg_price=250.13333333333333),
 Row(State='Utah', avg_price=243.3),
 Row(State='New Hampshire', avg_price=237.4),
 Row(State='Nevada', avg_price=237.3),
 Row(State='Rhode Island', avg_price=233.3),
 Row(State='Oregon', avg_price=231.53333333333333),
 Row(State='Maryland', avg_price=223.1),
 Row(State='Wisconsin', avg_price=210.8),
 Row(State='Minnesota', avg_price=209.4),
 Row(State='Virginia', avg_price=201.25),
 Row(State='Arizona', avg_price=192.1),
 Row(State='New York', avg_price=185.775),
 Row(State='Pennsylvania', avg_price=183.8),
 Row(State='North Dakota', avg_price=180.0),
 Row(State='Florida', avg_price=178.77777777777777),
 Row(State='Idaho', avg_price=178.7),
 Row(State='North Carolina', avg_price=176.05714285714288),
 Row(State='Texas', avg_price=173.4777777777778),
 Row(State='New Mexico', avg_price=172.2),
 Row(State='Louisiana', avg_price=164.39999999999998),
 Row(State='South Dakota', avg_price=159.5),
 Row(State='Georgia', avg_price=158.0),
 Row(State='Mississippi', avg_price=154.1),
 Row(State='Tennessee', avg_price=152.825),
 Row(State='Nebraska', avg_price=149.14999999999998),
 Row(State='Oklahoma', avg_price=145.1),
 Row(State='Alabama', avg_price=143.025),
 Row(State='Kentucky', avg_price=141.14999999999998),
 Row(State='Missouri', avg_price=134.75),
 Row(State='Iowa', avg_price=133.15),
 Row(State='Arkansas', avg_price=131.8),
 Row(State='Illinois', avg_price=122.87499999999999),
 Row(State='Indiana', avg_price=122.75),
 Row(State='Kansas', avg_price=115.65),
 Row(State='Michigan', avg_price=114.6),
 Row(State='Ohio', avg_price=112.86666666666667),
 Row(State='Alaska', avg_price=None),
 Row(State='Montana', avg_price=None),
 Row(State='South Carolina', avg_price=None)]

In [0]:
sqlContext.sql(
"SELECT `State`, avg(`2015 median sales price`) from pops order by `2014 Population estimate` desc").collect()

# Exercise (10 điểm)
Dataframe dưới đây chứa data về dân số và giá nhà trung vị (median) của các thành phố ở Mỹ.

"2014 rank": xếp hạng năm 2014
"City": tên thành phố
"State": tên bang (một bang thường có nhiều thành phố)
"State Code": mã của bang
"2014 Population estimate": Ước lượng dân số năm 2014
"2015 median sales price": Giá nhà trung vị năm 2015
Bạn phải viết code Pyspark (dùng dataframe hoặc Spark-SQL) để lấy / tính toán các data dưới đây.

In [0]:
pop.collect()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1698759156297396>:1
----> 1 pop.collect()

NameError: name 'pop' is not defined

### (a) (1 điểm): Có bao nhiêu dòng trong dataframe pop?

In [0]:
# Your code goes here

### (b) (1 điểm): Có bao nhiêu bang (state) trong tập dữ liệu trên?

In [0]:
# Your code goes here

### (c) (3 điểm) Thành phố nào có số dân (2014 Population estimate) đông nhất, thành phố nào có số dân ít nhất?

In [0]:
# Your code goes here

### (d) (5 điểm) Thống kê theo bang:
* Số thành phố trong từng bang
* Tổng số dân của các thành phố trong bang
* Trung bình của giá nhà trung vị

In [0]:
# Your code goes here